<div class=" flex flex-col mt-[2dvh] mb-[2dvh] justify-between">
    <div class="desktop:flex">
      <div class="flex-1 h-auto desktop:flex-1 desktop:mr-5 desktop:mb-5 desktop:p-5">
        <img class="mx-auto mt-5 w-[80dvw] border-2 border-primary border-solid desktop:w-full" src="./assets/images/juli.jpg" alt="Foto de Julián López">
        <p class="font-bold mt-5">Julián López</p>
        <p class="mt-5">Ni de Valencia ni de Badalona, su versión argentina de la paella conquistó los
          paladares de la edición
          anterior.</p>
      </div>
      <div class="flex-1 h-auto desktop:flex-1 desktop:mr-5 desktop:mb-5 desktop:p-5 ">
        <img class="mx-auto mt-5 w-[80dvw] border-2 border-primary border-solid desktop:w-full" src="./assets/images/fernando.jpg"
          alt="Foto de Fernando Obando">
        <p class="font-bold mt-5">Fernando Obando</p>
        <p class="mt-5">Originario de Sevilla, este chef se destacó en el concurso de paellas de Badalona
          con su paella, una
          exquisita combinación de sabores mediterráneos que capturó la esencia de Andalucía y cautivó a los jueces
          y
          al público por igual.</p>
      </div>
      <div class="flex-1 h-auto desktop:flex-1 desktop:mr-5 desktop:mb-5 desktop:p-5">
        <img class="mx-auto mt-5 w-[80dvw] border-2 border-primary border-solid- desktop:w-full" src="./assets/images/pilar.jpg" alt="Foto de Pilar García">
        <p class="font-bold mt-5">Pilar García</p>
        <p class="mt-5">Procedente de Badalona, esta talentosa chef impresionó en el concurso de paellas
          con su versión única,
          fusionando sabores locales con su toque personal para crear una paella que encantó a todos los presentes.
        </p>
      </div>
    </div>
    <div class=" desktop:flex">
      <div class="h-auto flex-1 desktop:flex-1 desktop:mr-5 desktop:mb-5 desktop:p-5">
        <img class="mx-auto mt-5 w-[80dvw] border-2 border-primary border-solid desktop:w-full" src="./assets/images/gemma.jpg" alt="Foto de Gemma Vidal">
        <p class="font-bold mt-5">Gemma Vidal</p>
        <p class="mt-5">Desde Badalona, esta joven chef sorprendió en el concurso de paellas con su
          creatividad y destreza
          culinaria, presentando una paella innovadora que reflejaba la frescura y el espíritu vibrante de su ciudad
          natal.</p>
      </div>
      <div class="h-auto flex-1 desktop:flex-1 desktop:mr-5 desktop:mb-5 desktop:p-5">
        <img class="mx-auto mt-5 w-[80dvw] border-2 border-primary border-solid desktop:w-full" src="./assets/images/angela.jpg" alt="Foto de Ángela Mercado">
        <p class="font-bold mt-5">Ángela Mercado</p>
        <p class="mt-5">Con raíces alemanas y residencia en Badalona, esta chef de mediana edad cautivó
          en el concurso de paellas
          con una reinterpretación única, fusionando la tradición alemana con los sabores mediterráneos locales en
          una paella que deslumbró a los jueces y al público por igual.</p>
      </div>
      <div class="flex-1 h-auto desktop:flex-1 desktop:mr-5 desktop:mb-5 desktop:p-5">
        <img class="mx-auto mt-5 w-[80dvw] border-2 border-primary border-solid desktop:w-full" src="./assets/images/pep.jpg" alt="Foto de Pep Sánchez">
        <p class="font-bold mt-5">Pep Sánchez</p>
        <p class="mt-5">Con décadas de experiencia y un corazón arraigado en Badalona, este distinguido
          chef mayor dejó su marca
          en el concurso de paellas con una creación que combinaba la sabiduría culinaria de su edad con la frescura
          y vitalidad de su ciudad natal, cautivando a todos con su paella excepcional.</p>
      </div>
    </div>
  </div>