<nav class="bg-secondary grid grid-cols-head-responsive min-h-header-responsive tablet:h-tablet tablet:grid-cols-head-tablet desktop:h-desktop desktop:p-desktop desktop:grid-cols-head-desktop desktop:text-xl text-white">
    <a class="font-cookie m-auto hover:text-primary hvr-icon-spin" href="./index.html">
        <div class="flex flex-col w-20 items-center leading-[2px] ">
            <img class="w-10 h-10 " src="./assets/images/badalona-logo.png" 
                class="inline-block align-top hvr-icon">
            <br>
            <span class="leading-[7px] tablet:text-xl/[7px] desktop:text-3xl/[7px] ">BadaPaellas</span>
        </div>
    </a>
    <div class="navbar__spacer">&nbsp;</div>
    <div class="font-bold flex gap-x-10 text-center">
        <a href="./index.html" class="links__item  m-auto hover:text-primary leading-[2] relative py-0 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-middle after:h-[3px] after:bg-primary">Maestros Paelleros </a>
        <a href="./inscripcion.html" class="links__item  m-auto hover:text-primary leading-[2] relative py-0 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-middle after:h-[3px] after:bg-primary">Inscripción</a>
    </div>
</nav>